<app-navbar active="contact"></app-navbar>
<main class="page contact-us-page">
  <section class="clean-block clean-form dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Kontakt</h2>
        <p>Hier haben sie die Möglichkeit uns eine kleine Nachricht zukommen zu lassen.</p>
      </div>
      <form>
        <div class="form-group"><label>Name</label><input class="form-control" type="text"></div>
        <div class="form-group"><label>Betreff</label><input class="form-control" type="text"></div>
        <div class="form-group"><label>Email</label><input class="form-control" type="email"></div>
        <div class="form-group"><label>Nachricht</label><textarea class="form-control"></textarea></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Senden</button></div>
      </form>
    </div>
  </section>
</main>
<app-footer></app-footer>
