<div class="modal fade" id="Home-Beta-Modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Für die Beta registrieren</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Name:<input class="form-control" type="text" id="home-beta-name-input"></label>
        <label>Email:<input class="form-control" type="email" id="home-beta-email-input"></label>
        <label>Organisation:<input class="form-control" type="text" id="home-beta-orga-input"></label>
        <hr>
        <label>Nachricht:<textarea class="form-control" id="home-beta-msg-input"></textarea></label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">abbrechen</button>
        <button type="button" class="btn btn-primary" (click)="registerForBeta()">Anfrage senden</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Home-Testversion-Modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Für die Testversion registrieren</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Name:<input class="form-control" type="text" id="home-test-name-input"></label>
        <label>Email:<input class="form-control" type="email" id="home-test-email-input"></label>
        <label>Organisation:<input class="form-control" type="text" id="home-test-orga-input"></label>
        <hr>
        <label>Nachricht:<textarea class="form-control" id="home-test-msg-input"></textarea></label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">abbrechen</button>
        <button type="button" class="btn btn-primary" (click)="registerForTestversion()">Anfrage senden</button>
      </div>
    </div>
  </div>
</div>

<app-navbar active="home"></app-navbar>
<main class="page landing-page">
  <section class="clean-block clean-hero" style="background-image:url(&quot;/assets/img/tech/image4.jpg?h=0adc0de9a17a7caea6b8641f5d6ae02c&quot;);color:rgba(9, 162, 255, 0.85);">
    <div class="text">
      <h2>WR-Issue&nbsp;</h2>
      <p>WR-Issue ist ein, von Webservice Rathje entwickeltes System, mit dem man Schäden in einem speziellen Bereich dem Zuständigen melden kann.&nbsp;&nbsp;</p>
      <button class="btn btn-outline-light btn-lg" type="button" data-toggle="modal" data-target="#Home-Beta-Modal">Beta testen</button>
    </div>
  </section>
  <section class="clean-block clean-info dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Info</h2>
        <p>Warum ist unser System so gut?</p>
      </div>
      <div class="row align-items-center">
        <div class="col-md-6"><img class="img-thumbnail" src="/assets/img/scenery/1_C3kxjCrJy-aWSMpe2chfaA.png?h=854e94bbbe28626dcbbab66073e6ef35"></div>
        <div class="col-md-6">
          <h3>Kompatibilität</h3>
          <div class="getting-started-info">
            <p>Wir versuchen stetig unsere Handyapp für alle Geräte verfügbar zu machen. Außerdem wird das Administrationpanel dauerhaft für die neuen Features der bekanntesten Browser angepasst.</p>
          </div><button class="btn btn-outline-primary btn-lg" type="button" data-toggle="modal" data-target="#Home-Testversion-Modal">Kostenlose Testversion</button>
        </div>
      </div>
    </div>
  </section>
  <section class="clean-block features">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Vorteile</h2>
        <p>Hier finden sie die größten Vorteile unseres Systems.</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 feature-box"><i class="icon-speedometer icon"></i>
          <h4>Performance</h4>
          <p>Unser Backend ist besonders schnell und kann somit viele Daten auf einmal verarbeiten. Dies bietet unglaublich große Möglichkeiten für unsere Kunden.</p>
        </div>
        <div class="col-md-5 feature-box"><i class="icon-social-github icon"></i>
          <h4>Open Source</h4>
          <p>Da unser Frontend Open Source ist, kann die Sicherheit unseres Systems gewährleistet und stetig verbessert werden.</p>
        </div>
        <div class="col-md-5 feature-box"><i class="fa fa-euro icon"></i>
          <h4>Kosten</h4>
          <p>Da war bei der Entwicklung unseres Systems auf Open Source setzten, können wir die Kosten niedrig halten und das System somit auch günstig anbieten.</p>
        </div>
        <div class="col-md-5 feature-box"><i class="fa fa-download icon"></i>
          <h4>Regelmäßige Updates</h4>
          <p>Wir updaten unsere Systeme ohne, dass dabei die Kompatibilität verloren geht. Außerdem wird dadurch die Sicherheit gewährleistet.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="clean-block about-us">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Über uns</h2>
        <p>Hier finden sie die größten Akteure des Projekts und ihre Social Media Kanäle.</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-6 col-lg-4">
          <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/assets/img/avatars/avatar1.jpg?h=2bf47f2c2deaed837d2490a2db0a7175">
            <div class="card-body info">
              <h4 class="card-title">Nick Rathje</h4>
              <p class="card-text">CEO</p>
              <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4">
          <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/assets/img/avatars/mathis%20burger.jpeg?h=617a035c448884ed7a16d13fe0dff8f7">
            <div class="card-body info">
              <h4 class="card-title">Mathis Burger</h4>
              <p class="card-text">Leitender Entwickler (OpenSource)</p>
              <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
